.content-wrapper section.content{
    padding: 0;
}
.modal-body textarea {
    font-family: monospace;
    font-size: 0.9em;
}
#model-input-panel{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
}
#model-input-panel button:first-child {
    grid-row: 1/3;
    height: 100%;
}
#model-main-panel {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
}
#model-pred-effect-plot {
    display: grid;
    grid-auto-flow: column;
}